@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');
/* universal selector*/
*{
  padding:0px;
  margin:0px;
  box-sizing: border-box;
  font-family: Goldman;

}
/* element selector */
body{
    background: blueviolet;
    display: flex;
    justify-content: center;
    height:100vh;
}
.container{
    background: white;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    width: 600px;
    padding: 50px;
    align-self: center;
}
.row{
    display: flex;
}
.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container >.row{
    width:100%;
    justify-content: space-evenly;

}
.profile-icon{
    border-radius: 50%;
    border: 3px solid gray;
}
.name{
    margin: 20px 0px;
    font-size: x-large;
    font-weight: bold;
}
.score{
    font-size: xx-large;
}
.score > span{
    margin: 0 5px;

}
.round-runs{
    font-size: xx-large;
    width:200px;
    justify-content: space-evenly;
}